*,*::before, *::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300;
}
/* .basic-examples{
     display: flex;
     padding: 3em;
     background: #ccc;
}
p:target{
    background-color:red;
} */

img{
    max-width: 100%;
}

.portfolio{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding: 5em;
    background-color: #333;
}

.portfolio_item{
   background-color: white; 
}
.portfolio_desc{
    padding: 1.5em;
}
.portfolio_title{
    font-size: 1.5em;
    margin-top: 0;
}


.portfolio_lightbox{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0,0);
  transition: transform ease-in-out 200ms;
}
.portfolio_lightbox:target{
    transform: scale(1,1);
}
.protfolio_lightbox_content{
    width: 75%;
    background: black;
    padding: 1em;
    position: relative;
}

.close{
    position: absolute;
    width: 2em;
    height: 2em;
    background: red;
    top: -1em;
    right: -1em;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close::after{
    content: 'X';
    color: white;
    font-weight: 700;
}
   